<!-- This file is covered by the GNU Public Licence v3 licence. See http://www.gnu.org/licenses/gpl.txt -->
{% load i18n %}
<h1>{% trans "UPDATE_YOUR_PROFILE" %}</h1>

<input type="hidden" id="profile_ini_primarycolor" value="{{ user.primarycolor }}"/>
<input type="hidden" id="profile_ini_secondarycolor" value="{{ user.secondarycolor }}"/>
<input type="hidden" id="profile_ini_menujeu" value="{{ user.menujeu }}"/>

<button class="dtbutton" onClick="load_sponsor()">{% trans "SPONSOR_SOMEONE" %}</button>
<br/><br/><div id="profile_updateanswer"></div>
<form method="post" action="/profile/update" id="profile_form">
	<table class="form">
		<tr>
			<th>{% trans "PASSWORD" %}</th>
			<td><input type="password" name="password" id="profile_password" onChange="checkProfileForm()" size="10"/></td>
		</tr>
		<tr>
			<th>{% trans "CONFIRM_PASSWORD" %}</th>
			<td>
				<input type="password" name="confirmpassword" id="profile_confirmpassword" onChange="checkProfileForm()" size="10"/>
				<div class="message-error" id="passworddiffers" style="display:none;width:400px">
					<div class="ui-widget">
						<div class="ui-state-error ui-corner-all" style="padding: 0 .7em; font-size: 9px">
							<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
							{% trans "ERROR" %}&nbsp;{% trans "PASSWORD_DIFFERS" %}.</p>
						</div>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<th>{% trans "NEW_EMAIL" %}</th>
			<td><input type="text" name="email" size="20" value="{{ user.email }}"/><i class="small">{% trans "EMAIL_CHANGE_REQUIRE_VALIDATION" %}</i></td>
		</tr>
		<tr>
			<th>{% trans "COUNTRY" %}</th>
			<td>
				<div style="margin-left: 5px; margin-top:10px; position:absolute;"><img id="profile_flag" src="/static/images/flags/{{ user.country }}.gif"/></div>
				<select id="profile_country" name="country" onchange="$('#profile_flag').attr('src', '/static/images/flags/' + $('#profile_country').val() + '.gif')">
					{% for c in countries %}
					<option value="{{ c }}" style="background-image: url(/static/images/flags/{{ c }}.gif); background-repeat: no-repeat;"{%if c == user.country %} selected="selected"{% endif %}>&nbsp;&nbsp;&nbsp;&nbsp;{{ c }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
                <tr>
			<th>{% trans "GAME_ACTION_MENU_MODE" %}</th>
			<td>
                        	Clic&nbsp;Gauche&nbsp;<img name="menujeu" id="menujeu_0" src="/static/images/interface/radio.gif" border="0"/>&nbsp;&nbsp;&nbsp;
                                Long&nbsp;clic&nbsp;droit&nbsp;<img name="menujeu" id="menujeu_1" src="/static/images/interface/radio.gif" border="0"/>&nbsp;&nbsp;&nbsp;
                                Double&nbsp;clic&nbsp;droit&nbsp;<img name="menujeu" id="menujeu_2" src="/static/images/interface/radio.gif" border="0"/>&nbsp;&nbsp;&nbsp;
                                Clic&nbsp;droit&nbsp;par&nbsp;Rotation&nbsp;<img name="menujeu" id="menujeu_3" src="/static/images/interface/radio.gif" border="0">&nbsp;&nbsp;&nbsp;
                        </td>
                </tr>
		<tr>
			<th>{% trans "PRIMARY_COLOR" %}</th>
			<td>
                                <br/><br/>
				<img name="primarycolor" onClick="updateSecondaryColor('orange')" id="primarycolor_orange" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#primarycolor_orange').click();" src="/static/images/spawns/fond-orange.png"/>&nbsp;&nbsp;&nbsp;
				<img name="primarycolor" onClick="updateSecondaryColor('jaune')" id="primarycolor_jaune" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#primarycolor_jaune').click();" src="/static/images/spawns/fond-jaune.png"/>&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<img name="primarycolor" onClick="updateSecondaryColor('bleu')" id="primarycolor_bleu" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#primarycolor_bleu').click();" src="/static/images/spawns/fond-bleu.png"/>&nbsp;&nbsp;&nbsp;
				<img name="primarycolor" onClick="updateSecondaryColor('cyan')" id="primarycolor_cyan" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#primarycolor_cyan').click();" src="/static/images/spawns/fond-cyan.png"/>&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<img name="primarycolor" onClick="updateSecondaryColor('rouge')" id="primarycolor_rouge" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#primarycolor_rouge').click();" src="/static/images/spawns/fond-rouge.png"/>&nbsp;&nbsp;&nbsp;
				<img name="primarycolor" onClick="updateSecondaryColor('violet')" id="primarycolor_violet" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#primarycolor_violet').click();" src="/static/images/spawns/fond-violet.png"/>&nbsp;&nbsp;&nbsp;
				<br/>
				<img name="primarycolor" onClick="updateSecondaryColor('vert')" id="primarycolor_vert" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#primarycolor_vert').click();" src="/static/images/spawns/fond-vert.png"/>&nbsp;&nbsp;&nbsp;
				<img name="primarycolor" onClick="updateSecondaryColor('vertflash')" id="primarycolor_vertflash" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#primarycolor_vertflash').click();" src="/static/images/spawns/fond-vertflash.png"/>&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<img name="primarycolor" onClick="updateSecondaryColor('noir')" id="primarycolor_noir" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#primarycolor_noir').click();" src="/static/images/spawns/fond-noir.png"/>&nbsp;&nbsp;&nbsp;
				<img name="primarycolor" onClick="updateSecondaryColor('marron')" id="primarycolor_marron" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#primarycolor_marron').click();" src="/static/images/spawns/fond-marron.png"/>&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<th>{% trans "SECONDARY_COLOR" %}</th>
			<td>
                                <br/><br/>
				<span class="fondgroupe fondgroupejaune fondgroupeorange">
					<img name="secondarycolor" id="secondarycolor_orange" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#secondarycolor_orange').click();" src="/static/images/spawns/fond-orange.png"/>&nbsp;&nbsp;&nbsp;
					<img name="secondarycolor" id="secondarycolor_jaune" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#secondarycolor_jaune').click();" src="/static/images/spawns/fond-jaune.png"/>&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span>
				<span class="fondgroupe fondgroupebleu fondgroupecyan">
					<img name="secondarycolor" id="secondarycolor_bleu" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#secondarycolor_bleu').click();" src="/static/images/spawns/fond-bleu.png"/>&nbsp;&nbsp;&nbsp;
					<img name="secondarycolor" id="secondarycolor_cyan" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#secondarycolor_cyan').click();" src="/static/images/spawns/fond-cyan.png"/>&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span>
				<span class="fondgroupe fondgrouperouge fondgroupeviolet">
					<img name="secondarycolor" id="secondarycolor_rouge" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#secondarycolor_rouge').click();" src="/static/images/spawns/fond-rouge.png"/>&nbsp;&nbsp;&nbsp;
					<img name="secondarycolor" id="secondarycolor_violet" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#secondarycolor_violet').click();" src="/static/images/spawns/fond-violet.png"/>&nbsp;&nbsp;&nbsp;
				</span>
				<br/>
				<span class="fondgroupe fondgroupevert fondgroupevertflash">
					<img name="secondarycolor" id="secondarycolor_vert" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#secondarycolor_vert').click();" src="/static/images/spawns/fond-vert.png"/>&nbsp;&nbsp;&nbsp;
					<img name="secondarycolor" id="secondarycolor_vertflash" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#secondarycolor_vertflash').click();" src="/static/images/spawns/fond-vertflash.png"/>&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span>
				<span class="fondgroupe fondgroupenoir fondgroupemarron">
					<img name="secondarycolor" id="secondarycolor_noir" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#secondarycolor_noir').click();" src="/static/images/spawns/fond-noir.png"/>&nbsp;&nbsp;&nbsp;
					<img name="secondarycolor" id="secondarycolor_marron" class="checkbox" src="/static/images/interface/radio.gif" border="0"/>&nbsp;<img onClick="$('#secondarycolor_marron').click();" src="/static/images/spawns/fond-marron.png"/>&nbsp;&nbsp;&nbsp;
				</span>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center"><button class="dtbutton" id="submit_profile" onClick="updateProfile();" type="button">{% trans "UPDATE_PROFILE" %}</button></td>
		</tr>
	</table>
</form>
