<!-- This file is covered by the GNU Public Licence v3 licence. See http://www.gnu.org/licenses/gpl.txt -->
{% load i18n %}
<h1>{% trans "CHALLENGE_CREATION" %}</h1>
<button class="dtbutton" onClick="load_page('challenges')">{% trans "CHALLENGES_LIST" %}</button><br/>

<form method="post" action="/challenges/save" id="teamCreateForm">
	<input type="hidden" id="createchallenge_extensions" name="extensions" value=""/>
	<table class="form">
		<tr>
			<th>{% trans "TEAM_CONSTRAINTS" %}</th>
			<td>
				<select name="mode">
					<option value="ff">{% trans "CHALLENGE_MODE_FF" %}</option>
					<option value="fe">{% trans "CHALLENGE_MODE_FE" %}</option>
					<option value="fh">{% trans "CHALLENGE_MODE_FH" %}</option>
					<option value="fhi">{% trans "CHALLENGE_MODE_FHI" %}</option>
					<option value="fhe">{% trans "CHALLENGE_MODE_FHE" %}</option>
					<option value="draft">{% trans "CHALLENGE_MODE_DRAFT" %}</option>
					<option value="sa">{% trans "CHALLENGE_MODE_SA" %}</option>
				</select>
			</td>
			<th>{% trans "TEAM_CONSTRAINTS" %}</th>
			<td id="constraint_list">
				<select name="constraint">
{% for constraint in constraints %}
					<option value="{{ constraint.id }}">{{ constraint.name }}</option>
{% endfor %}
				</select>
				<img class="pointer" width="20" height="20" border="0" style="vertical-align:middle" src="/static/images/interface/plus.png" onclick="createteamconstraint(1)"/>
			</td>
		</tr>
		<tr>
			<th>{% trans "CHALLENGE_OPPONENT" %}</th>
			<td>
				<select name="opponent">
					<option value="0">-- {% trans "CHALLENGE_OPPONENT_ANY" %} --</option>
{% for user in users %}
					<option value="{{ user.id }}">{{ user.login }}</option>
{% endfor %}
				</select>
			</td>
			<th>{% trans "CHALLENGE_ANONYMOUS" %}</th>
			<td><input type="checkbox" value="1" name="anonymous"/></td>
		</tr>
		<tr>
			<th>{% trans "CHALLENGE_SPAWN_SHOW_MODE" %}</th>
			<td>
				<select name="spawnvisibility">
					<option value="0">{% trans "CHALLENGE_SPAWN_SHOW_NONE" %}</option>
					<option value="1">{% trans "CHALLENGE_SPAWN_SHOW_MINE" %}</option>
					<option value="2">{% trans "CHALLENGE_SPAWN_SHOW_TEAM" %}</option>
					<option value="3">{% trans "CHALLENGE_SPAWN_SHOW_BOTH" %}</option>
				</select>
			</td>
			<th>{% trans "CHALLENGE_DUNGEON_CLEVER_PLACEMENT" %}</th>
			<td><input type="checkbox" value="1" name="dungeoncleverplacement"/></td>
		</tr>
		<tr>
			<th>{% trans "CHALLENGE_SHOW_OPPONENT_CARDS" %}</th>
			<td>
				<select name="spawnvisibility">
					<option value="1">{% trans "CHALLENGE_SHOW_CARDS_MINE" %}</option>
					<option value="2">{% trans "CHALLENGE_SHOW_CARDS_TEAM" %}</option>
					<option value="3">{% trans "CHALLENGE_SHOW_CARDS_BOTH" %}</option>
				</select>
			</td>
			<th>{% trans "CHALLENGE_DUNGEON_RANDOM" %}</th>
			<td><input type="checkbox" value="1" name="randomdunjeon"/></td>
		</tr>
			<th></th><td></td>
			<th>{% trans "CHALLENGE_DUNGEON_KNOWLEDGE" %}</th>
			<td><input type="checkbox" value="1" name="dungeonknowledge"/></td>
		<tr>
		</tr>
	</table>
</form>
