<!-- This file is covered by the GNU Public Licence v3 licence. See http://www.gnu.org/licenses/gpl.txt -->
{% load i18n %}
<input type="hidden" id="displayteam_name" value="{{teamname}}"/>
{% for c in characters %}
<div class="iconcontainer"><img height="80" width="80" src="/static/images/spawns/{{c.name}}.png" border="0" class="zindex2" style="position: absolute;"/><img height="80" width="80" class="zindex1" src="/static/images/spawns/fond-{{spawncolor}}.png" border="0" class="pointer"/></div>
{% endfor %}
<hr/>
{% for c in objects %}
<div class="iconcontainer"><img height="80" width="80" src="/static/images/spawns/{{c.name}}.png" border="0" class="zindex2" style="position: absolute;"/><img height="80" width="80" class="zindex1" src="/static/images/spawns/fond-{{spawncolor}}.png" border="0" class="pointer"/></div>
{% endfor %}
<hr/>
{% for c in rooms %}
	{% if c.rotation == 1 %}
<div class="iconcontainer"><img height="150" width="150" src="/static/images/rooms/{{c.number}}-1.jpg" border="0"/></div><div class="iconcontainer"><img height="150" width="150" src="/static/images/rooms/{{c.number}}-2.jpg" border="0" class="pointer"/></div>
	{% endif %}
{% endfor %}
