tc_mincharacters={{ constraint.mincharacters }}|
tc_maxcharacters={{ constraint.maxcharacters }}|
tc_minobjects={{ constraint.minobjects }}|
tc_maxobjects={{ constraint.maxobjects }}|
tc_minrooms={{ constraint.minrooms }}|
tc_maxrooms={{ constraint.maxrooms }}|
tc_mindeplacement={{ constraint.mindeplacement }}|
tc_maxdeplacement={{ constraint.maxdeplacement }}|
tc_mintotaldeplacement={{ constraint.mintotaldeplacement }}|
tc_maxtotaldeplacement={{ constraint.maxtotaldeplacement }}|
tc_minadvdeplacement={{ constraint.minadvdeplacement }}|
tc_maxadvdeplacement={{ constraint.maxadvdeplacement }}|
tc_mintotaladvdeplacement={{ constraint.mintotaladvdeplacement }}|
tc_maxtotaladvdeplacement={{ constraint.maxtotaladvdeplacement }}|
tc_minforce={{ constraint.minforce }}|
tc_maxforce={{ constraint.maxforce }}|
tc_mintotalforce={{ constraint.mintotalforce }}|
tc_maxtotalforce={{ constraint.maxtotalforce }}|
tc_minadvforce={{ constraint.minadvforce }}|
tc_maxadvforce={{ constraint.maxadvforce }}|
tc_mintotaladvforce={{ constraint.mintotaladvforce }}|
tc_maxtotaladvforce={{ constraint.maxtotaladvforce }}|
tc_minprestigious={{ constraint.minprestigious }}|
tc_maxprestigious={{ constraint.maxprestigious }}|
tc_minspellcaster={{ constraint.minspellcaster }}|
tc_maxspellcaster={{ constraint.maxspellcaster }}|
tc_minflying={{ constraint.minflying }}|
tc_maxflying={{ constraint.maxflying }}|
tc_minintangible={{ constraint.minintangible }}|
tc_maxintangible={{ constraint.maxintangible }}|
tc_minrunner={{ constraint.minrunner }}|
tc_maxrunner={{ constraint.maxrunner }}|
tc_minfighter={{ constraint.minfighter }}|
tc_maxfighter={{ constraint.maxfighter }}|
tc_mincursed={{ constraint.mincursed }}|
tc_maxcursed={{ constraint.maxcursed }}|
tc_minperchemin={{ constraint.minperchemin }}|
tc_maxperchemin={{ constraint.maxperchemin }}|
tc_minweapon={{ constraint.minweapon }}|
tc_maxweapon={{ constraint.maxweapon }}|
tc_minshadowwalker={{ constraint.minshadowwalker }}|
tc_maxshadowwalker={{ constraint.maxshadowwalker }}|
tc_minshadowroom={{ constraint.minshadowroom }}|
tc_maxshadowroom={{ constraint.maxshadowroom }}|
tc_minantimagicroom={{ constraint.minantimagicroom }}|
tc_maxantimagicroom={{ constraint.maxantimagicroom }}|
tc_minfountain={{ constraint.minfountain }}|
tc_maxfountain={{ constraint.maxfountain }}|
tc_mincounterfountain={{ constraint.mincounterfountain }}|
tc_maxcounterfountain={{ constraint.maxcounterfountain }}|
tc_minextensions={{ constraint.minextensions }}|
tc_maxextensions={{ constraint.maxextensions }}|
tc_maxsamecharacter={{ constraint.maxsamecharacter }}|
tc_maxsameobject={{ constraint.maxsameobject }}|
tc_maxcommonobject={{ constraint.maxcommonobject }}|
tc_maxsameroom={{ constraint.maxsameroom }}
