<!-- This file is covered by the GNU Public Licence v3 licence. See http://www.gnu.org/licenses/gpl.txt -->
{% load i18n %}
<button class="dtbutton" onClick="load_page('teams')">{% trans "TEAMS_LIST" %}</button>
<div align="center">
	<form method="post" action="/teams/random/generate" id="randomteam_form" onsubmit="return generateRandomTeam();">
		<input type="hidden" name="extensions" id="randomteam_extensions" value="{{ userExtensions }}"/>
		<table class="form">
			<tr>
				<th colspan="4" style="text-align: center;">{% trans "RANDOM_TEAMNAME" %}: <input type="text" size="10" name="teamname"/></th>
			</tr>
			<tr>
				<th>{% trans "RANDOM_METHOD" %}:</th>
				<td>
					<select name="randommethod">
						<option value="random">{% trans "RANDOMMETHOD_TOTALRANDOM" %}</option>
						<option value="clever">{% trans "RANDOMMETHOD_CLEVER" %}</option>
						<option value="3221">{% trans "RANDOMMETHOD_3221" %}</option>
						<!--<option value="clevermorph">{% trans "RANDOMMETHOD_CLERVERMORPH" %}</option>-->
					</select>
				</td>
				<th>{% trans "TEAM_CONSTRAINTS" %}</th>
				<td id="constraint_list">
					<select name="constraint">
{% for constraint in constraints %}
						<option value="{{ constraint.id }}">{{ constraint.name }}</option>
{% endfor %}
					</select>
					<img class="pointer" width="20" height="20" border="0" style="vertical-align:middle" src="/static/images/interface/plus.png" onclick="createteamconstraint(2)"/>
				</td>
			</tr><tr>	
				<th>{% trans "RANDOM_TEAMSCOUNT" %}:</th>
				<td><input type="text" name="teamscount" id="randomteam_teamscount" size="3" value="1"/></td>
				<th>{% trans "RANDOM_REPEAT" %}:</th>
				<td><a id="randomteam_repeat" class="checkbox" href="javascript:void(0)"><img src="/static/images/interface/checkbox.gif" border="0"/></a></td>
			</tr>
		</table>
		<br/><br/><button class="dtbutton" type="submit">{% trans "RANDOM_GENERATE" %}</button>
	</form>
	<div id="randomteam_result"></div>
</div>
