<!-- This file is covered by the GNU Public Licence v3 licence. See http://www.gnu.org/licenses/gpl.txt -->
{% load i18n %}
 {
	zoom: 0.7,
	rotation: 1,
    size: { width: 4, height: 4 },
    rooms: {
		1: {
            position: { x: 1, y: 0 },
            name: '2-1',
            rotation: 1
        },
		2: {
            position: { x: 2, y: 0 },
            name: '1-1',
            rotation: 1
        },
        4: {
            position: { x: 0, y: 1 },
            name: '3-1',
            rotation: 3
        },
        5: {
            position: { x: 1, y: 1 },
            name: '4-2',
            rotation: 0
        },
        6: {
            position: { x: 2, y: 1 },
            name: '3-2',
            rotation: 2
        },
        7: {
            position: { x: 3, y: 1 },
            name: '10-2',
            rotation: 2
        },
        8: {
            position: { x: 0, y: 2 },
            name: '4-1',
            rotation: 0
        },
        9: {
            position: { x: 1, y: 2 },
            name: '1-2',
            rotation: 3
        },
        10: {
            position: { x: 2, y: 2 },
            name: '10-2',
            rotation: 3
        },
        11: {
            position: { x: 3, y: 2 },
            name: '2-2',
            rotation: 3
        },
        13: {
            position: { x: 1, y: 3 },
            name: 'S1-2',
            rotation: 3
        },
        14: {
            position: { x: 2, y: 3 },
            name: 'S1-1',
            rotation: 3
        }
    },
    spawns: {
        1: {
        	id: 1,
            name: 'magetenebres',
            color: 'orange',
            states: [ 'valid', 'freezed' ],
            position: { x: 5, y: 12 }
        },
        2: {
        	id: 2,
            name: 'magetenebres',
            color: 'violet',
            states: [ 'valid', 'consecrated', 'undead' ],
            position: { x: 6, y: 0 }
        },
        3: {
        	id: 3,
            name: 'corde',
            color: 'violet',
            states: [ 'valid', 'cursed' ],
            position: { x: 10, y: 2 }
        },
        4: {
        	id: 4,
            name: 'yeti',
            color: 'orange',
            states: [ 'valid', 'knoched' ],
            position: { x: 15, y: 18 }
        },
        5: {
        	id: 5,
            name: 'sorciereglaces',
            states: [ 'valid' ],
            color: 'violet',
            position: { x: 12, y: 15 }
        }
    },
    slides: [
        {
            position: { x: 21, y: 6 },
            color: 'orange',
            direction: 'v',
            size: 5
        },
        {
            position: { x: 5, y: 1 },
            color: 'violet',
            direction: 'v',
            size: 5
        },
        {
            position: { x: 6, y: 0 },
            color: 'violet',
            direction: 'h',
            size: 5
        },
        {
            position: { x: 6, y: 21 },
            color: 'noir',
            direction: 'h',
            size: 10
        },
        {
            position: { x: 0, y: 6 },
            color: 'vert',
            direction: 'v',
            size: 10
        }
    ]
}