<!-- This file is covered by the GNU Public Licence v3 licence. See http://www.gnu.org/licenses/gpl.txt -->
{% load i18n %}
 [
	{
       	  callback: function() {callurl('twist');},
       	  icon: "twisth",
       	  titre: "Twister"
	},
	{
       	  callback: function() {callurl('briserherse1');},
       	  icon: "briseherse1",
       	  titre: "Briser la herse à l'Est"
	},
	{
       	  callback: function() {callurl('briserherse0');},
       	  icon: "briseherse0",
       	  titre: "Briser la herse au Nord"
	},
	{
       	  callback: function() {callurl('briserherse3');},
       	  icon: "briseherse3",
       	  titre: "Briser la herse à l'Ouest"
	},
	{
       	  callback: function() {callurl('fight');},
       	  icon: "combat",
       	  titre: "Attaquer"
	},
	{
       	  callback: function() {callurl('endaction');},
       	  icon: "endturn",
       	  titre: "Terminer l'action"
	}
]